.flight-block {
    margin-bottom: 2rem;
    text-align: center;
    color: #41535b;
}

.flight-date {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 350;
    text-align: start;
    padding-left: 15%;
}

.flight-route {
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 2px;
}

.dash {
    margin: 0 10px;
}

.flight-times {
    font-size: 30px;
    color: #82a1a6;
    display: flex;
    justify-content: center;
    gap: 105px;
}

.notice-section {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    color: #41535b;
    white-space: pre-line;
    margin-top: 5rem;
    padding: 0 5rem;
}

.notice-section p {
    margin-bottom: 2.5rem;
}

@media (max-width: 768px) {
    .flight-date {
        font-size: 1.2rem;
        padding-left: 10%;
    }

    .flight-route {
        font-size: 2.5rem;
        font-weight: 600;
        letter-spacing: 2px;
        padding-left: 6%;
    }

    .flight-times {
        padding-left: 6%;
    }

    .notice-section {
        padding: 0;
    }

    .notice-section p {
        margin-bottom: 2.5rem;
    }
}