html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-top: 21px;
    background: linear-gradient(to bottom, #d1faff, #f5f0cd);
    line-height: 1.6;
    overflow: hidden;
}

.app-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}

.head-title {
    width: 100%;
    max-width: 100%;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 450;
    color: #41535b;
    word-break: break-word;
    padding: 20px 20px 20px 40px;
}

.head-hr {
    background-color: #64becd;
    width: 90%;
    height: 4px;
    border: none;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .app-container {
        max-width: 95%;
        padding: 1rem;
    }

    .head-title {
        font-size: 2.5rem;
        padding: 20px 20px 20px 40px;
    }
}