html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient(to bottom, #d1faff, #f5f0cd);
    line-height: 1.6;
    overflow: hidden;
    font-family: 'Radley', 'Chiron Hei HK', sans-serif;
}

@font-face {
    font-family: 'Radley';
    unicode-range: U+0000-00FF; /* 英文與基本符號 */
}

@font-face {
    font-family: 'Chiron Hei HK';
    unicode-range: U+4E00-9FFF; /* 中文範圍 */
}

.app-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}

.head-title {
    width: 100%;
    max-width: 100%;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 450;
    color: #41535b;
    word-break: break-word;
    padding: 20px 20px 20px 40px;
}

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* 若行動裝置太窄則自動換行 */
    padding: 20px 10px 10px 40px;
    width: 100%;
    box-sizing: border-box;
}

.head-itinerary-title {
    font-size: 2.5rem;
    font-weight: 450;
    color: #41535b;
}

.head-description {
    font-size: 1.2rem;
    font-weight: 450;
    color: #41535b;
    word-break: break-word;
    text-align: right;
}

.head-hr {
    background-color: #64becd;
    width: 90%;
    height: 4px;
    border: none;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .app-container {
        max-width: 95%;
        padding: 1rem;
    }

    .head-title {
        font-size: 2.5rem;
        padding: 10px 10px 10px 40px;
    }
}